body{
    background-color:rgb(80, 141, 221);
    padding: 20px;
}
p{
    background-color: white;
text-align: end;
height: 40px;
margin: 10pxau ;

}
.main-content{
    text-align: center;
    background-color: rgb(255, 255, 255);
    max-width: 300px;
    height: 300px;
    padding: 30px;
    margin: auto;  
}
